# safelist
branches:
  only:
  - master
  - stable

language: python
python: 
  - "2.7"
  - "3.4" 
virtualenv:
  system_site_packages: true  
# command to install dependencies
install:
  - pip install pytest
  - pip install codecov
# command to run tests
script:
- pytest
env:
- CODECOV_TOKEN="ba92c0f1-da25-4c6f-b2ee-7921aba9ee69"
after_success:
    - bash <(curl -s https://codecov.io/bash)
